/*-------configuration--------*/

* {
	font-family:Arial, Helvetica, sans-serif;
}

.overflow {
	overflow:hidden;
}

.clear {
	clear:both;
}

.hidden {
	display:none;
}

.loader {
	font-size:20px;
	padding-top: 118px;
	text-align: center;
	color:#000;
	display:none;
}

.player {
	display:none;
}

/*-------gameboy--------*/

.gameboy {
	background:url(../img/gameboy.png);
	width:500px;
	height:655px;
	padding-top:85px;
}

.gameboy  .joystick {
	margin-top: 105px;
	margin-left: 25px;
	float:left;
}

.gameboy .button,.arrow {
	cursor:pointer;
}

.gameboy .joystick .arrow {
	width:50px;
	height:25px;
	text-align:center;
	width:42px;
	height:42px;
}

.gameboy .joystick .arrow.left {
	background:url(../img/joystick-left.jpg);
	float:left;
}

.gameboy .joystick .arrow.top {
	background:url(../img/joystick-top.jpg);
	margin-left:41px;
}

.gameboy .joystick .arrow.right {
	background:url(../img/joystick-right.jpg);
	margin-left:84px;
}

.gameboy .joystick .arrow.middle {
	background:url(../img/joystick-middle.jpg);
	float:left;
}


.gameboy .joystick .arrow.bottom {
	background:url(../img/joystick-bottom.jpg);
	margin-left:41px;
}

.gameboy .joystick .arrow.top,.joystick .arrow.bottom {

}

.gameboy .joystick .arrow .direction{
	display:none;
}

.gameboy .cmd {
	margin:109px 0 0 275px
}

.gameboy .cmd .button {
	width:74px;
	height:110px;
}

.gameboy .cmd .button.a {
	background:url(../img/button-a.jpg);
	margin-left:74px;
}

.gameboy .cmd .button.b {
	background:url(../img/button-b.jpg);
	float:left;
}

.gameboy .control {
	margin:80px 0 0 140px
}

.gameboy .control .button {
	width:72px;
	height:45px;
}

.gameboy .control .button.select {
	background:url(../img/button-select.jpg);
	float:left;
}

.gameboy .control .button.start {
	background:url(../img/button-start.jpg);
	margin-left:80px;
}


/*-------screen--------*/

.screen {
	width: 330px;
	height: 270px;
	position: relative;
	margin-left: 83px;
	background: #FFF;
}

.screen .sasha{
	width: 30px;
	height: 30px;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	text-align: center;
	z-index:2000;
}

.screen .object {
	position:absolute;
}

/*-------fight--------*/

.fight{
	width: 330px;
	height: 270px;
	position: absolute;
	top: 0;
	left: 0;
	background:#000;
	overflow: hidden;
	z-index:2;
	display:none;
	overflow:hidden;
	
}

.fight .mask{
	width: 330px;
	height: 270px;
	position: absolute;
	top: 0;
	left: 0;
	background:#000;
	overflow: hidden;
	z-index:3;
	display:none;
	overflow:hidden;
}

.fight .img {
	width:115px;
	height:100px;
	overflow:hidden;
	position:absolute;
}

.fight .img img {
	width:100%;
}

.fight .stat {
	border-left:groove 2px #223300;
	border-right:groove 5px #223300;
	border-bottom:groove 5px #223300;
	border-top:groove 2px #223300;
	-moz-border-radius: 0px 10px;
	-webkit-border-radius: 0px 10px 0px 10px;/*This is the correct shorthand for webkit*/
	border-radius: 0px 10px;
	/*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
	background:#ffffdd;
	width:120px;
	padding-bottom:5px;
	padding-top:5px;
	margin: 15px 0 0 15px;
}

.fight .stat .name{
	text-transform:uppercase;
	font-weight:bold;
}

.fight .stat .label-life{
	float:left;
	margin-left: 25px;
	font-size: 7px;
	font-weight: bold;
	background: black;
	color: white;
}

.fight .life-block {
	margin:4px 0 4px 0;
}

.fight .life-container {
	height:5px;
	width: 80px;
	border: solid 1px #000;
	-moz-border-radius: 47px;
	-webkit-border-radius: 47px;
	border-radius: 47px;
	margin-left:30px;
}


.fight .life-container .life{
	background-color: #00A9B8;
	width:100%;
	height:100%;
}

.fight .capacite  .label{
	display:block;
}

.fight .capacite  .item{
	font-size:8px;
	display:block;
	cursor:pointer;
	color:#ff4100;
}

.fight .my-pokemon {
	width:100%;
	height:50%;
	font-size:10px;
}


.fight .my-pokemon .img{
	float: left;
	width: 150px;
	height: 135px;
	top:65px;
	left:-130px;
	opacity:0;
}

.fight .my-pokemon .stat{
	margin-left: 195px;
	margin-top:25px;
	text-align: right;
}

.fight .my-pokemon .stat .overflow{
	margin-right: 7px;
}

.fight .rival-pokemon {
	width:100%;
	height:25%;
	font-size:10px;
}

.fight .rival-pokemon .stat .overflow{
	margin-left: 7px;
}


.fight .rival-pokemon .img{
	left:340px;
	top: 0px;
	opacity:0;
}

.fight .command {
	height:90px;
	position:absolute;
	bottom:0px;
	background:#FFF;
	width:320px;
	overflow:hidden;
	border: groove 5px #8687cb;
}

.fight .command .talk{
	width: 180px;
	height: 90px;
	float: left;
	text-transform: uppercase;
	font-size: 12px;
	overflow: hidden;
	line-height: 18px;
}

.fight .command .dialogue {
	background:#FFF;
	height:90px;
	position:absolute;
	z-index:1000;
	top:0px;
	width:100%;
}

.fight .command .dialogue .content {
	margin: 7px 0 0 7px;
	width: 0px;
	background: #FFF;
	height: 22px;
	overflow: hidden;
	line-height:25px;
	position:relative;
}

.fight .command .dialogue .arrow{
	width:15px;
	height:15px;
	background:url(../img/arrrow-dialogue.jpg);
	position:absolute;
	bottom:7px;
	right:7px;
}

.fight .command .talk .content{
	margin:7px 0 0 7px;
}

.fight .command  .action {
	width: 131px;
	height: 90px;
	margin-left: 197px;
	border-left: groove 5px #8687cb;
	overflow:hidden;
}

.fight .command .action .content{
	margin:7px 0 0 7px;
}

.fight .command .action .content li{
	margin-bottom:7px;
}

.fight .command  .action .item{
	cursor:pointer;
}



.fight .command .attack .item {
	cursor:pointer;
	margin-bottom:7px;
}


.fight .command .do .item .code {
	display:none;
}






